{% extends "blog/base.html" %}
{% block blog-content %}
<div class="container ">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10" id="aboutme">
        <h3><img src="/static/blog/images/astronaut.png" alt="astronaut" class="little-img">About Me</h3>
        <hr>
        <p>Junior Student / University</p>
        <p>有一颗想成为全栈的心的未来前端。</p>
        <p>Python / JavaScript / Bootstrap 学习中</p>
        <p><del>嗯...?!不对，我是要征服宇宙的宇航员。</del></p><br>
  
        <h3>Main Works</h3>
        <hr>
        <p>你所看到的这个用Django搭建的网站，还有一个简陋的贪吃蛇。</p>
        <p>挺上去好像太少或者没什么技术含量？没关系，我还在学习。</p><br>
      </div>
      
    </div>
  </div>
</div>
{% endblock %}


