{% load static %}<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>UNIVERSR</title>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'blog/images/favicon.ico' %}" media="screen" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
  <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body> 
<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="index-top-color">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand " href="#">Simon</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% block navbarSupportedContent %}
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'blog:index' %}"> <span class="fa fa-home"></span> Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:aboutme' %}">About Me</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link " href="{% url 'blog:category' %}"><span class="fa fa-archive"></span> Category</a>
        </li>
      </ul>
      {% endblock %}

      <div class="form-inline my-2 my-lg-0">
        <ul class="ul-img">
          <li class="li-img">
            <a href="https://github.com/SimonZoo" target="_blank" ><img src="/static/blog/images/github.png" class="little-img" id="github-logo"></a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</div>

<div class="container-fluid">
  <div class="row"> 
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div id="blog-content" >
        {% block blog-content %}{% endblock %}
      </div>
    </div>

  </div>
</div>
<script type="text/javascript">
  window.onload = function () {

    var githubLogo = document.getElementById("github-logo");
    githubLogo.onmouseover = function() {
      githubLogo.src = "/static/blog/images/github-hover.png";
    }
    githubLogo.onmouseout = function() {
      githubLogo.src = "/static/blog/images/github.png";
    }
  }
</script>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>

